<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-qOj0jkw7JsAs1CzFvrYMW8G5qh4kpsI</string>
	<key>GCM_SENDER_ID</key>
	<string>739464300491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.elharies.subtracker</string>
	<key>PROJECT_ID</key>
	<string>sub-tracker-1ae75</string>
	<key>STORAGE_BUCKET</key>
	<string>sub-tracker-1ae75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739464300491:ios:1850027001a857b81cd84e</string>
</dict>
</plist>